<div class="flexcol lmb-dialog-tab lmb-dialog-container">
    <div class="flex0">
        <header>
            <h2>Challenge Rating</h2>
        </header>
    </div>
    <div class="flex0" id="lmb-fullcr">
        <div class="flexrow">
            <select id="cr-value" name="crValue">
                {{#each options.stats}}
                    <option value="{{this.CR}}" data-infos="{{this.serialized}}" data-pab="{{this.PAB}}"
                        data-noa="{{this.NoA}}" data-hp="{{this.HP}}" data-dmg="{{this.DpACalc}}"
                        data-ac="{{this.ACDC}}" data-exp="{{this.example}}">CR: {{this.CR}}
                        ({{this.example}})
                    </option>
                {{/each}}
            </select>
        </div>
    </div>
    <div class="flex0 lmb-dialog-container">
        <header>
            <h3>Bonus on Saves (<label id="saveBonus">+2</label>)</h3>
        </header>
    </div>
    <div class="flex0">
        <div class="flexrow">
            <div class="flex1">
                <div class="flexcol lmb-vertical">
                    <label>
                        Str
                    </label>
                    <input type="checkbox" id="strBonus" class="lmb-save">
                </div>
            </div>
            <div class="flex1">
                <div class="flexcol lmb-vertical">
                    <label>
                        Dex
                    </label>
                    <input type="checkbox" id="dexBonus" class="lmb-save">
                </div>
            </div>
            <div class="flex1">
                <div class="flexcol lmb-vertical">
                    <label>
                        Con
                    </label>
                    <input type="checkbox" id="conBonus" class="lmb-save">
                </div>
            </div>
            <div class="flex1">
                <div class="flexcol lmb-vertical">
                    <label>
                        Int
                    </label>
                    <input type="checkbox" id="intBonus" class="lmb-save">
                </div>
            </div>
            <div class="flex1">
                <div class="flexcol lmb-vertical">
                    <label>
                        Wis
                    </label>
                    <input type="checkbox" id="wisBonus" class="lmb-save">
                </div>
            </div>
            <div class="flex1">
                <div class="flexcol lmb-vertical">
                    <label>
                        Cha
                    </label>
                    <input type="checkbox" id="chaBonus" class="lmb-save">
                </div>
            </div>
        </div>
    </div>
</div>